@use 'variables' as vars;

.app-about-page {

    &__title {
        margin: 0;
        padding: vars.$space-default 200px 0;
        @media (width <= 800px) {
            padding: vars.$space-default-mobile vars.$space-default-mobile 0;
        }
    }

    &__description {
        padding: 0 200px vars.$space-default;
        @media (width <= 800px) {
            padding: 0 vars.$space-default-mobile vars.$space-default-mobile;
        }
    }
}