@import 'variables';

.app-agenda-page {
    padding: 20px;
    display: grid;
    gap: 20px;

    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        text-align: center;
        border-bottom: 2px solid #eeeeee;
        padding-bottom: 20px;

        &__button {
            padding: 10px;
            background-color: $secondaryPink;
            color: $primaryBlue;
            border-radius: 20px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            align-content: center;
            
            &--checked {
                color: white;
                background-color: $primaryRed;
            }
        }
    }
    
    a {
        text-decoration: none;
        color: $primaryBlue;
    }

    &__item {
        height: 80px;
        background-color: $secondaryPink;
        border-radius: 20px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin: 0 300px;

        @media (width <= 1000px) {
            grid-template-columns: 1fr 3fr;
            margin: 0 150px;
        }

        @media (width <= 700px) {
            grid-template-columns: 1fr 2fr;
            margin: 0;
        }

        img {
            height: 0;
            min-height: 100%;
            width: 100%;
            object-fit: cover;
            background-color: white;
        }

        &__text {
            display: grid;
            grid-template-columns: 1fr;
            padding: 0 10px;
            align-content: space-evenly;

            &__title {
                @supports (-webkit-line-clamp: 2) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: initial;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}