// colors
$primaryBlue: #01056e;
$primaryRed: #ff0048;
$secondaryPink: #fae6e6;
$secondaryYellow: #fcf4eb;
$secondaryGrey: #eeeeee;

// spacing
$space-default: 40px;
$space-default-mobile: 20px;

$font-family: 'Comfortaa', 'Noto Sans', 'Arial', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;