<div class="app-header">
    <fa-icon class="app-header__menu-button" [icon]="menuIcon" (click)="onClickMenuIcon()"></fa-icon>
    <div class="app-header__title">Bergharen Klassiek</div>

    <div class="app-header__menu" [class.app-header__menu--open]="menuOpen" [class.app-header__menu--closed]="!menuOpen">
        <div class="app-header__menu__close-button" (click)="onClose()">
            <fa-icon [icon]="closeIcon" size="xl"></fa-icon>
        </div>
        <div class="app-header__menu__content">
            <a routerLink="/">Agenda</a>
            <a href="#">Over ons</a>
            <a href="#">Gebouw</a>
            <a href="#">Ondersteuning</a>
            <a href="#">Contact</a>
        </div>
    </div>
</div>
