<div class="app-home-page">
    <div class="app-home-page__header">
      {{ homePage().headerText }}
    </div>
    <div class="app-home-page__events" *ngIf="stories">
      <ng-container *ngFor="let story of stories()">
        <span>
          <app-event-card [story]="story"></app-event-card>
        </span>
      </ng-container>
    </div>
    <div class="app-home-page__about">
      De Stichting Bergharen Klassiek biedt het publiek series van acht concerten aan die lopen van februari t/m november van het kalenderjaar. De series zijn begonnen in oktober 2021. De Stichting streeft naar een gevarieerd programma in het klassieke repertoire voor solisten, kleine ensembles en kleine kamerkoren. De programmering behelst uitsluitend klassieke muziek met de nadruk op de 18e, 19e en 20e -eeuwse muziek, met uitstapjes naar Renaissance, Barok en hedendaagse muziek. Tevens wordt er over gedacht in samenwerking met scholen kinderconcerten te organiseren (uitvoerenden zijn al benaderd).
    </div>
  </div>