<div class="app-home-page">
    <div class="app-home-page__header">
      {{ homePage().headerText }}
    </div>
    <div class="app-home-page__header-short">
      {{ homePage().headerTextShort }}
    </div>
    <div class="app-home-page__events" (scroll)="onScroll($event)" id="scroll-list">
      @for (story of stories(); track $index) {
        <app-event-card id="{{ story.id }}" [story]="story" [cardIndex]="$index"></app-event-card>
      }
    </div>
    <div class="app-home-page__teaser-video">
      <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/Iu5zm53P3Ak?si=6T8XdHXN6DFuiJra" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen
        loading="lazy"
      ></iframe>
    </div>
    <div class="app-home-page__about">
      <app-rich-text [richText]="homePage().aboutTeaser"></app-rich-text>
    </div>
  </div>