@import 'variables';

.app-home-page {
    display: grid;
    gap: $space-default;
    @media (width <= 600px) {
        gap: $space-default-mobile;
    }

    &__header {
        padding: $space-default 30% 0 30%;
        text-align: center;
        @media (width <= 600px) {
            display: none;
            padding: $space-default-mobile;
        }
    }
    
    &__header-short {
        display: none; 
        @media (width <= 600px) {
            display: block;
            text-align: center;
            padding: $space-default-mobile $space-default-mobile * 2 0 $space-default-mobile * 2;
        }
    }

    &__events {
        overflow-y: hidden;
        display: flex;
        @media (width <= 600px) {
            padding: 0 $space-default-mobile;
        }
        
        &--centered {
            justify-content: center;
        }
        
        &__items {
            padding: 0 $space-default;
            gap: $space-default;
            @media (width <= 600px) {
                gap: $space-default-mobile;
                padding: 0 $space-default-mobile;
            }
        }

        &__no-events-message {
            text-align: center;
            margin: 0 20%;
            @media (width <= 600px) {
                margin: 0 $space-default-mobile $space-default-mobile $space-default-mobile;
            }
        }
    }

    &__teaser-video {
        padding: 0 20%;
        @media (width <= 600px) {
            margin: 0 $space-default-mobile;
            padding: 0;
        }
        
        iframe {
            width: 100%;
            min-height: 300px;
            height: 100%;
            border-radius: $space-default-mobile;
        }
    }

    &__about {
        margin: 0 20% $space-default;
        padding: $space-default;
        border-radius: $space-default;
        text-align: center;
        background-color: $secondaryYellow;
        @media (width <= 600px) {
            margin: 0 $space-default-mobile $space-default-mobile $space-default-mobile;
            padding: $space-default-mobile;
            border-radius: $space-default-mobile;
        }
    }
}