@import 'variables';

.app-content-page {
    &__images {
        padding: $space-default 200px;
        @media (width <= 800px) {
            padding: $space-default-mobile;
        }

        &--single {
            max-width: 600px;
        }
        
        &__image {
            border-radius: 20px;
            overflow: hidden;
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
    }

    &__title {
        margin: 0;
        padding: $space-default 200px 0;
        @media (width <= 800px) {
            padding: $space-default-mobile $space-default-mobile 0;
        }
    }

    &__description {
        padding: 0 200px $space-default;
        @media (width <= 800px) {
            padding: 0 $space-default-mobile $space-default-mobile;
        }

        ::ng-deep {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}