@use 'variables' as vars;

.app-footer {
    display: grid;
    min-height: 100px;
    background-color: vars.$secondaryGrey;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}