<div class="app-event-page">
    @if (event) {
        <swiper-container #swiperRef
            style="--swiper-navigation-color: rgb(255, 0, 72); --swiper-pagination-color: rgb(255, 0, 72)"
            class="app-event-page__images"
            [config]="swiperConfig"
        >
            <swiper-slide class="app-event-page__images__image">
                <img 
                    class="app-event-page__images__image" 
                    src="{{ event.images[0].filename| storyBlokUrl }}" 
                    loading="lazy"
                    alt="{{ event.images[0].alt }}"
                />
            </swiper-slide>
            <swiper-slide class="app-event-page__images__image">
                <img 
                    class="app-event-page__images__image" 
                    src="{{ event.images[0].filename| storyBlokUrl }}" 
                    loading="lazy"
                    alt="{{ event.images[0].alt }}"
                />
            </swiper-slide>
            <swiper-slide class="app-event-page__images__image">
                <img 
                    class="app-event-page__images__image" 
                    src="{{ event.images[0].filename| storyBlokUrl }}" 
                    loading="lazy"
                    alt="{{ event.images[0].alt }}"
                />
            </swiper-slide>
            <swiper-slide class="app-event-page__images__image">
                <img 
                    class="app-event-page__images__image" 
                    src="{{ event.images[0].filename| storyBlokUrl }}" 
                    loading="lazy"
                    alt="{{ event.images[0].alt }}"
                />
            </swiper-slide>
        </swiper-container>
        <h2 class="app-event-page__title">{{ event.title }}</h2>
        <div class="app-event-page__description">
            <app-rich-text [richText]="event.description"></app-rich-text>
        </div>
    }
</div>
