<div class="app-event-page">
    @if (event) {
        <swiper-container #swiperRef
            style="--swiper-navigation-color: rgb(255, 0, 72); --swiper-pagination-color: rgb(255, 0, 72)"
            class="app-event-page__images"
            [class.app-event-page__images--single]="swiperConfig.slidesPerView === 1"
            [config]="swiperConfig"
        >
        @for (image of event.images; track $index) {
            <swiper-slide class="app-event-page__images__image">
                <div class="swiper-zoom-container">
                    <img 
                        src="{{ event.images[0].filename| storyBlokUrl:600 }}" 
                        loading="lazy"
                        alt="{{ event.images[0].alt }}"
                    />
                </div>
            </swiper-slide>
            <swiper-slide class="app-event-page__images__image">
                <img 
                    src="{{ event.images[0].filename| storyBlokUrl:600 }}" 
                    loading="lazy"
                    alt="{{ event.images[0].alt }}"
                />
            </swiper-slide>
        }
        </swiper-container>
        <h2 class="app-event-page__title">{{ event.title }}</h2>
        <div class="app-event-page__description">
            <app-rich-text [richText]="event.description"></app-rich-text>
        </div>
    }
</div>
