@use 'variables' as vars;

.app-event-page {
    &__images {
        padding: vars.$space-default 200px;
        @media (width <= 800px) {
            padding: vars.$space-default-mobile;
        }

        &--single {
            max-width: 600px;
        }
        
        &__image {
            border-radius: vars.$space-default;
            overflow: hidden;
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
    }

    &__title {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: vars.$space-default;
        padding: 0px 20%;

        @media (width <= 800px) {
            grid-template-columns: auto;
            padding: 0 vars.$space-default-mobile;
        }
        
        h2 {
            margin: 0;
        }
        
        &__reservation-button {
            height: min-content;
            color: red;
            padding: 10px;
            background-color: vars.$primaryRed;
            border-radius: vars.$space-default;
            color: white;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 0 8px 12px #83838326, 0 0 4px #8383834f;
            color: white;
            text-decoration: none;
        }
    }

    &__description {
        padding: 0 20% vars.$space-default;
        @media (width <= 800px) {
            padding: 0 vars.$space-default-mobile;
        }
    }
}